<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Registration Form</h1>
					<p>Fields marked * are mandatory.</p>
					<hr style="width: 50%;" />
				</div>
			</div>
	<div class="row text-center">
		<div class="col-md-4"></div>
<div class="col-md-4">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-md-4 control-label">Name</label>  
					<div class="col-md-8">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input placeholder="name" ng-model="user.name" class="form-control" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Username</label>  
					<div class="col-md-8">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input placeholder="Username" ng-model="user.u" class="form-control" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Password</label> 
					<div class="col-md-8">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-key" ></i></span>
							<input placeholder="Password" ng-model="user.p" class="form-control" type="password">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Confirm Password</label> 
					<div class="col-md-8">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-key" ></i></span>
							<input placeholder="Password" ng-model="user.c" class="form-control" type="password">
						</div>
					</div>
				</div>
				<div class="form-group">
				<label class="col-md-4 control-label">Email</label>  
				<div class="col-md-8">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						<input placeholder="Email-Address" ng-model="user.e" class="form-control" type="text">
					</div>
				</div>
			</div>
				<div class="form-group">
				<div class="col-md-12">
					<button class="btn btn-primary" ng-click="register()">Register</button>
				</div>
			</div>		<!-- <div class="col-md-6">
			<div class="form-group">
				<label class="col-md-4 control-label">Name</label>  
				<div class="col-md-8">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input placeholder="Name" ng-model="user.name" class="form-control" type="text">
					</div>
				</div>
			</div><br>
			<div class="form-group">
				<label class="col-md-4 control-label">Username</label>  
				<div class="col-md-8">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input placeholder="Username" ng-model="user.u" class="form-control" type="text">
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-4 control-label">Password</label>  
				<div class="col-md-8">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input placeholder="Password" ng-model="user.p" class="form-control" type="password">
					</div>
				</div>
			</div>
			 -->
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
<div ng-show="showLoader" class="loader">
    <div class="loadertext">
        Registering..<br/>
    </div>
</div>